@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sipark Sikölcsönző</h1>
    <h2>Raktarkészlet</h2>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Sí Raktár Mátraszentistván</h2>
        <p>
            SíPark Mátraszentistván raktári honlapja.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Sipark honlap</h2>
       
        <p><a class="btn btn-default" href="http://www.sipark.hu/fooldal">Ugrás a Sypark honlapjára! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Atomic honlapja</h2>
       
        <p><a class="btn btn-default" href="https://www.atomic.com/hu-hu">Atomic &raquo;</a></p>
    </div>
</div>